{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      },
      "airbnb"
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator"
  ]
}
