/// Colours

// The color palette
$palette: (
  light: (
    1: #f9faff,
    2: #959cb1,
    3: #6a6f82
  ),
  dark: (
    1: #16171b,
    2: #1c1d22,
    3: #292b32
  ),
  primary: (
    1: #376df9,
    2: #6991fa,
    3: #074af6,
    4: #eaf0ff
  ),
  secondary: (
    1: #ff5fa0,
    2: #ff92be,
    3: #ff2c82,
    4: #ffe7f1
  ),
  tertiary: (
    1: #ffc55a,
    2: #ffd78d,
    3: #ffb327,
    4: #fff3dd
  ),
  quaternary: (
    1: #ff8d74,
    2: #ffb7a7,
    3: #ff6341,
    4: #ffe8e3
  ),
  alert: (
    error: #ff5fa0,
    warning: #ffc55a,
    success: #1ec198
  )
);

// Base colours.
$colours: (
  black: get-color(dark, 1),
  white: get-color(light, 1),
  grey: get-color(light, 3),
  grey-dark: get-color(dark, 3),
  grey-darker: get-color(dark, 2),
  grey-light: get-color(light, 2),
  accent: get-color(primary, 1),
  accent-light: get-color(primary, 2),
  accent-dark: get-color(primary, 3),
  error: get-color(alert, error),
  warning: get-color(alert, warning),
  success: get-color(alert, success)
) !default;

// Light mode colours.
$light-colours: (
  primary: get-color(light, 1),
  secondary: get-color(light, 2),
  text: get-color(dark, 2),
  text-secondary: get-color(light, 3)
);

// Dark mode colours.
$dark-colours: (
  primary: get-color(dark, 1),
  secondary: get-color(dark, 2),
  text: get-color(light, 1),
  text-secondary: get-color(light, 2),
  accent: get-color(secondary, 1),
  accent-light: get-color(secondary, 2),
  accent-dark: get-color(secondary, 3)
);

/// Font
$font-family: quote(Source Sans Pro), system-ui, sans-serif;
$font-family-header: quote(Fira Sans), system-ui, sans-serif;
$font-family-code: quote(Fira Code), Monaco, Consolas, quote(Andale Mono),
  quote(DejaVu Sans Mono), monospace;
$font-family-pre: quote(Courier 10 Pitch), Courier, monospace;

$headings: (
  h1: (
    44px,
    54px,
    null
  ),
  h2: (
    38px,
    48px,
    null
  ),
  h3: (
    32px,
    42px,
    null
  ),
  h4: (
    24px,
    34px,
    -0.1px
  ),
  h5: (
    20px,
    32px,
    -0.1px
  ),
  h6: (
    18px,
    30px,
    -0.1px
  )
) !default;

$font-md: 17px;
$font-base: 16px;
$font-sm: 14px;
$font-xs: 12px;

$weight: 400;
$weight-exlight: 200;
$weight-light: 300;
$weight-heavy: 700;
$weight-exheavy: 900;
