<header class="site-header reveal-from-top navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item site-logo" href="{{ site.baseurl | default: site.url }}">
        {%- if site.logo -%}
          <img id="logo" src="{{ site.logo | relative_url }}" title="{{ site.title }}" alt="{{ site.logo-alt }}" width="37">
        {%- endif -%}
        {{ site.title }}
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="site-nav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-end">
      {%- include_cached navigation.html -%}
      <div class="navbar-item">
        <a href="{{ '/search/' | relative_url }}">{%- include svg-icon.html icon="search" id="search" w="30" h="30" hidden=true -%}</a>
        <div class="account">
          <a href="{{ 'login' | relative_url }}">{%- include svg-icon.html icon="login" id="login" class="account-icon" w="24" h="27" hidden=true -%}</a>
          <a href="{{ 'logout' | relative_url }}">{%- include svg-icon.html icon="logout" id="logout" class="account-icon" w="25" h="25" hidden=true -%}</a>
        </div>
      </div>
    </div>
  </div>
</header>