<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
<link rel="preconnect" href="https://api.openweathermap.org" crossorigin>
<link rel="preconnect" href="https://maps.googleapis.com" crossorigin>
<link rel="preconnect" href="https://instant.page" crossorigin>
<link rel="prefetch" href="{{ '/assets/css/normalize.css' | relative.url }}">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/fira-code-v8-latin-regular.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/fira-sans-v10-latin-regular.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/fira-sans-v10-latin-600.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/source-sans-pro-v13-latin-200.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/source-sans-pro-v13-latin-300.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/source-sans-pro-v13-latin-400.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/source-sans-pro-v13-latin-600.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/source-sans-pro-v13-latin-900.woff2' | relative_url }}" crossorigin importance="high">
<link rel="preload" as="style" href="{{ '/assets/css/font.css' | relative.url }}" importance="high">