{%- assign hidden = include.hidden | default: false -%}

<div class="card{% if hidden %} is-hidden{% endif %}">
  <div class="card__image">
    <figure>
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card__content">
    <header class="card__header">
      <h2>Temp<sup>&deg;</sup></h2>
      <h3>City Name</h3>
      <time datetime="2020-03-1">11:09 AM - 1 March 2020</time>
    </header>
    <p>Nice sunny day</p>
    <hr>
    <footer class="card__footer">
      <div class="columns card__details">
        <div class="column card__detail">
          <img src="" alt="">
          <p>Wind</p>
          <p>2mph</p>
        </div>
        <div class="column card__detail">
          <img src="" alt="">
          <p>High</p>
          <p>30<sup>&deg;</sup></p>
        </div>
        <div class="column card__detail">
          <img src="" alt="">
          <p>Rain</p>
          <p>0%</p>
        </div>
      </div>
    </footer>
  </div>
</div>
